body {
    font-family: monospace;
    box-sizing: border-box;
    text-align: center;
}


.calculator-container {
    margin: auto;
    width: 200px;
    background-color: rgb(15, 15, 15);
    color: whitesmoke;
    font-size: 2rem;
    padding: 1rem;
    border-radius: 8px;
}
.calculator-container div {
    border: 1px solid rgb(196, 170, 170);
    /* font-weight: bold; */
}
.calculator-container .screen {
    height: 90px;
}

.screen {
    font-size: 3rem;
    height: 65%;
}

/* .screen .operation{
    font-size: 1.2rem;
    height: 35%;
} */

.keys {
    display: flex;
    flex-wrap: wrap;
}

.keys div {
    width: 22%;
    flex-grow: 1;
    border-radius: 10px;
}

.num:hover,
.backtrack:hover {
    background: #292727;
}

.keys div.clear-btn {
    background-color: rgb(233, 49, 49);
    border: none;
}
.keys div.clear-btn:hover {
    background: rgb(197, 35, 35);
}

.full-width{
    flex-basis: 74%;
}

.operator {
    background-color: rgb(105, 154, 170);
}
.operator:hover {
    background: rgb(64, 100, 112);
}
.equalBtn {
    background-color: rgb(228, 154, 18);
    cursor: pointer;
}
.equalBtn:hover{
    background:rgb(196, 132, 14);
}